!!!
%html
  %head
    %title= @page_title
  %body
    %h1
      %a{ :href => url(:home) } My Menki Blog
    - if logged_in?
      %p.admin
        %a{ :href => url(:admin) } Menki Admin
    = catch_content :for_layout
