%h2 New post

- require_js 'admin/jquery', 'admin/posts/slug', 'admin/posts/preview', 'admin/posts/auto_save'
  
- form_for(@post, :action => url(:admin_posts), :id => 'post') do
  = partial(:form)
  %p= submit_button "Preview"
