!!! XML
%feed
  %title Menki Blog
  %link{ :href => "#{absolute_url(:home)}", :rel => "self", :type => "application/atom+xml" }
  %link{ :href => "#{absolute_url(:home)}" }
  %updated
  %subtitle
  %id FEED ID
  %icon FAVICON
  %generator Menki
  %rights
  - for post in @posts
    %entry
      %title post.title
      %link{ :href => "", :rel => "alternate", :type => "text/html" }
      %id ITEM ID
      %published post.published_at
      %updated 
      <dc:subject>news</dc:subject>
      %category{ :term => "news", :scheme => "http://hobix.com/tags" }
      %summary{ :type => "html" } A summary
      %author
        %name why the lucky stiff
        %uri http://whytheluckystiff.net/
        %email why@whytheluckystiff.net
